<% layout('layouts/boilerplate') %>
<%= currentUser %>
<div id="map" style="width: auto; height: 400px;"></div>
<h1>All Airports</h1>
        <% for (let airport of airports) { %>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <% if(airport.images.length) { %> 
                            <img src="<%= airport.images[0].url %>" class="img-fluid" alt="">
                        <% } else { %> 
                            <img src="" class="img-fluid" alt="">
                        <% } %> 
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"> <%= airport.name %> </h5>
                            <p class="card-text"> <%= airport.description %> </p>
                            <p class="card-text">
                             <small class="text-muted"> <%= airport.location %> </small>
                            </p>
                            <a href="/airports/<%= airport._id %>" class="btn btn-primary">View <%= airport.name %></a>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
<script> 
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
    const airports = {features: <%- JSON.stringify(airports) %>}
</script>
<script src="/javascripts/clusterMap.js"></script>
